.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 10;
  padding-left: 0;

}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #074568;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


body{
	margin: 0;
	text-align: center;
	font-family: LuzSans-Book;

}

h1{
	margin-top: 0;
	font-family: forte;
}

.circular--square {
  border-radius: 50%;
}

.circular--squar {
  border-radius: 50%;
}

.carousel {
  height: 400px;                           					  /* tamaño botones */
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 400px;								/* tamaño imagen */
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 60%;
  height: 500px;
}

.img-circle {
	border-radius: 60px;
	border: 5px solid #666;
}

